@media screen and (max-width: 1560px) {
    .modal-container .modal-content {
        flex-wrap: wrap
    }
    .modal-container .modal-content .column {
        margin: 20px 0;
        width: 49%;
        &:last-of-type {
            width: 100%
        }
    }
    .certificate-img {
        width: 50%;
    }
}

@media screen and (max-width: 1483px) {
    .modal-container.form-modal .form-modal-content {
        width: 70%;
    }
}


@media screen and (max-width: 1024px) {
    a {
        text-decoration: underline;
    }
    .modal-container .modal-content .column {
        width: 100%;
        margin: 10px 0;
    }
    .modal-container .modal-content {
        padding: 30px 20px;
    }
    .light {
        display: none !important;
    }
    #m-qr-code {
        display: none
    }
}

@media screen and (max-width: 848px) {
    .modal-container.form-modal .form-modal-content {
        width: 90%;
    }
    .modal-container.form-modal .form-modal-content .form-modal-title {
        font-size: 20px;
    }
}


@media screen and (max-width: 705px) {
    .certificates-container {
        height: 220px;
    }
    .data-title {
        font-size: 20px;
    }
    .modal-container.modal-img .modal-img-content .image-description {
        font-size: 20px;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev {
        left: 0;
    }
    .certificate-img {
        width: 100%;
    }
}

@media screen and (max-width: 565px) {
    .modal-container.form-modal .form-modal-content .form-modal-title {
        font-size: 18px;
    }

}


 
@media screen and (max-width: 475px) {
    .data-content a {
        font-size: 16px;
    }
}

